.App {
  text-align: center;
  height: 610vh;
  /* width: 99%; */

}

.nav{
  height: 100px;
  width: 100%;
  border-bottom:1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;


}
.nav button{
  background-color: gray;
  position: absolute;
 
}

.a{
  color: rgb(212, 208, 208);
  font-size: 24px;
  text-decoration:none;

}

.light{
  background-color:rgb(57, 57, 120);
  color: white;
}

.dark{
  background-color: rgb(57, 205, 192);
  color: black;
}

.b{
margin-top: 20px;

} 



.count{
  text-align: center;
}

.productdiv{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  line-height: 20px;
}

.productitem{
  border: 1px solid red;
  padding: 10px;

  
}

.crtpage{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}