.App{
  text-align: center;
}

.parent{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  /* border: 1px solid red; */
  margin: 4px;
}

.child{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid black; */
  line-height: 5px;
  padding: 5px;
}

.child>img{
height:180px;
width:100%;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
}

.nav{
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
}

.a{
  text-decoration: none;
  color: white;
  font-size: 29px;
  cursor: pointer;
}